body {
    font-family: sans-serif;
    background-color: #403075;
}

h1{
    text-align: center;
    color: #4F628E;
}

nav a{
 justify-content: center;
    color: #162955;
    background-color: #887CAF;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}

h2{
    text-align: center;
    color: #7887AB;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
}
.catalog article{
    width: 30%;
    background-color: #887CAF;
    margin: 10px;
}

header{
    color: #162955;
}
nav{
    text-align: center;
}

.catalog img{
    width: 250px;
    height: 250px;
    padding: 10px;
}

p{
    color: #887CAF;
    border: 3px solid #261758;
}

.cont{
background-color: #4F628E;
width: 150px;
text-align: center;
font-size: 20px;
text-decoration: none;
padding: 5px;
position: relative;
left: -100px;
}
.cont:hover{
left: 0;
transition: 2s;
}
.cont a{
    text-decoration: none;
    color: #162955;
}

article a{
    text-decoration: none;
    background-color: #4F628E; 
    padding: 5px;
    color: #887CAF;
}

article a:hover{
    background-color: #887CAF;
    color: #261758;
    transition: 1488ms;
}
